In [4]:
import pandas as pd
import numpy as np
df=pd.read_csv('train_data.txt',sep=':::',header=None)
df

C:\Users\anjan\AppData\Local\Temp\ipykernel_25136\409254084.py:3: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support regex separators (separators > 1 char and different from '\s+' are interpreted as regex); you can avoid this warning by specifying engine='python'.
  df=pd.read_csv('train_data.txt',sep=':::',header=None)

,0,1,2,3
0,1,Oscar et la dame rose (2009),drama,Listening in to a conversation between his do...
1,2,Cupid (1997),thriller,A brother and sister with a past incestuous r...
2,3,"Young, Wild and Wonderful (1980)",adult,As the bus empties the students for their fie...
3,4,The Secret Sin (1915),drama,To help their unemployed father make ends mee...
4,5,The Unrecovered (2007),drama,The film's title refers not only to the un-re...
...,...,...,...,...
54209,54210,"""Bonino"" (1953)",comedy,This short-lived NBC live sitcom centered on ...
54210,54211,Dead Girls Don't Cry (????),horror,The NEXT Generation of EXPLOITATION. The sist...
54211,54212,Ronald Goedemondt: Ze bestaan echt (2008),documentary,"Ze bestaan echt, is a stand-up comedy about g..."
54212,54213,Make Your Own Bed (1944),comedy,Walter and Vivian live in the country and hav...
54213,54214,Nature's Fury: Storm of the Century (2006),history,"On Labor Day Weekend, 1935, the most intense ..."

In [6]:
columns=['serial_No', 'name', 'genre', 'movie_text']
df.columns=columns
df.head()

,serial_No,name,genre,movie_text
0,1,Oscar et la dame rose (2009),drama,Listening in to a conversation between his do...
1,2,Cupid (1997),thriller,A brother and sister with a past incestuous r...
2,3,"Young, Wild and Wonderful (1980)",adult,As the bus empties the students for their fie...
3,4,The Secret Sin (1915),drama,To help their unemployed father make ends mee...
4,5,The Unrecovered (2007),drama,The film's title refers not only to the un-re...

In [8]:
genre=df['genre']

In [10]:
genre.value_counts()

genre
 drama           13613
 documentary     13096
 comedy           7447
 short            5073
 horror           2204
 thriller         1591
 action           1315
 western          1032
 reality-tv        884
 family            784
 adventure         775
 music             731
 romance           672
 sci-fi            647
 adult             590
 crime             505
 animation         498
 sport             432
 talk-show         391
 fantasy           323
 mystery           319
 musical           277
 biography         265
 history           243
 game-show         194
 news              181
 war               132
Name: count, dtype: int64

In [12]:

from sklearn.preprocessing import LabelEncoder



label_encoder = LabelEncoder()


df['new_genre'] = label_encoder.fit_transform(df['genre'])

In [14]:
y=df['new_genre'].values

In [16]:
y

array([ 8, 24,  1, ...,  7,  5, 12])

In [18]:
x=df['movie_text']+df['name']
x2=x.str.lower()
x2

0         listening in to a conversation between his do...
1         a brother and sister with a past incestuous r...
2         as the bus empties the students for their fie...
3         to help their unemployed father make ends mee...
4         the film's title refers not only to the un-re...
                               ...
54209     this short-lived nbc live sitcom centered on ...
54210     the next generation of exploitation. the sist...
54211     ze bestaan echt, is a stand-up comedy about g...
54212     walter and vivian live in the country and hav...
54213     on labor day weekend, 1935, the most intense ...
Length: 54214, dtype: object

In [20]:
df['combine_text'] = x2.astype(str)
df['combine_text']

0         listening in to a conversation between his do...
1         a brother and sister with a past incestuous r...
2         as the bus empties the students for their fie...
3         to help their unemployed father make ends mee...
4         the film's title refers not only to the un-re...
                               ...
54209     this short-lived nbc live sitcom centered on ...
54210     the next generation of exploitation. the sist...
54211     ze bestaan echt, is a stand-up comedy about g...
54212     walter and vivian live in the country and hav...
54213     on labor day weekend, 1935, the most intense ...
Name: combine_text, Length: 54214, dtype: object

In [22]:
df.head()

,serial_No,name,genre,movie_text,new_genre,combine_text
0,1,Oscar et la dame rose (2009),drama,Listening in to a conversation between his do...,8,listening in to a conversation between his do...
1,2,Cupid (1997),thriller,A brother and sister with a past incestuous r...,24,a brother and sister with a past incestuous r...
2,3,"Young, Wild and Wonderful (1980)",adult,As the bus empties the students for their fie...,1,as the bus empties the students for their fie...
3,4,The Secret Sin (1915),drama,To help their unemployed father make ends mee...,8,to help their unemployed father make ends mee...
4,5,The Unrecovered (2007),drama,The film's title refers not only to the un-re...,8,the film's title refers not only to the un-re...

In [24]:
import nltk
from nltk.corpus import stopwords
nltk.download('stopwords')

[nltk_data] Downloading package stopwords to
[nltk_data]     C:\Users\anjan\AppData\Roaming\nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

True

In [26]:
from nltk.stem.porter import PorterStemmer
ps=PorterStemmer()
import string

In [28]:
def transform_text(text):
    text=text.lower()
    text=nltk.word_tokenize(text)
    z=[]
    for i in text:
        if i.isalnum():
            z.append(i)
    text=z[:]
    z.clear()

    for i in text:
        if i not in stopwords.words('english') and i not in string.punctuation:
            z.append(i)
    text=z[:]
    z.clear()
    for i in text:
        z.append(ps.stem(i))
    return " ".join(z)

In [30]:
df['Movie+Movie_text']=df['combine_text'].apply(transform_text)

In [34]:
df['Movie+Movie_text'][0]

'listen convers doctor parent oscar learn nobodi courag tell week live furiou refus speak anyon except rose ladi pink meet hospit stair christma approach rose use fantast experi profession wrestler imagin wit charm allow oscar live life love full compani friend pop corn einstein bacon childhood sweetheart peggi blue oscar et la dame rose 2009'

In [ ]:
from sklearn.feature_extraction.text import TfidfVectorizer
tfidf=TfidfVectorizer()

In [ ]:
X=tfidf.fit_transform(df['Movie+Movie_text']).toarray()

In [38]:
from sklearn.model_selection import train_test_split

In [ ]:
X_train, X_test, y_train, y_test=train_test_split(X,y , test_size=0.2,random_state=2)

In [ ]:
from sklearn.naive_bayes import MultinomialNB
from sklearn.metrics import accuracy_score,precision_score

In [ ]:
mnb=MultinomialNB()

In [ ]:
mnb.fit(X_train,y_train)

In [ ]:
y_pred=mnb.predict(X_test)

In [ ]:
print(accuracy_score(y_test,y_pred))
print(precision_score(y_test,y_pred))

In [52]:
from sklearn.linear_model import LogisticRegression

In [54]:
lr=LogisticRegression()

In [56]:
lr.fit(X_train,y_train)

C:\Users\anjan\anaconda3\Lib\site-packages\sklearn\linear_model\_logistic.py:460: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

LogisticRegression()

In [61]:
y_pred1=lr.predict(X_test)

In [67]:
print(accuracy_score(y_test,y_pred1))

0.5393341326201235

In [36]:
import pandas as pd
from sklearn.feature_extraction.text import CountVectorizer
vectorizer = CountVectorizer(
    ngram_range=(1, 2),     
    min_df=2,               
    max_df=0.85,            
    stop_words='english',   
    max_features=10000       
)


X = vectorizer.fit_transform(df['Movie+Movie_text'])
dense_matrix = X.toarray()
feature_names = vectorizer.get_feature_names_out()
df_count_vectorized = pd.DataFrame(dense_matrix, columns=feature_names)

In [40]:
X_train, X_test, y_train, y_test=train_test_split(X,y , test_size=0.2,random_state=2)

In [42]:
from sklearn.naive_bayes import MultinomialNB
from sklearn.metrics import accuracy_score,precision_score

In [44]:
mnb=MultinomialNB()

In [46]:
mnb.fit(X_train,y_train)

MultinomialNB()

In [48]:
y_pred=mnb.predict(X_test)

In [65]:
print(accuracy_score(y_test,y_pred))

0.5534446186479757